:root {
    --color: rgb(255, 255, 255);
    --font-family: 'Space Mono', Arial, sans-serif;
}


@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.woff') format('woff');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 32px;
}

div>h2 {
    font-family: 'Norse-Bold', Arial, sans-serif;
    font-size: 48px;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 900;
    font-style: oblique;
    margin-top: 30px;
}

.form-group input {
    width: 100%;
    margin-top: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    font-size: large;
    transition: background-color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 900;
    font-style: oblique;
}

form {
    width: max-content;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    border-radius: 10px;
    padding: 50px;
}

.group {
    display: flex;
    margin-left: 0;
    gap: 100px;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    font-size: 1.1rem;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;

}

.form-group input:focus {
    border-color: #00bfff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 2px solid #007bff;
    outline: none;
}

::placeholder {
    color: #d0d0d0;
    font-style: italic;
    font-size: 14px;
}

.form-group.success input {
    border-color: #09c372;
    background-color: rgba(0, 255, 0, 0.198);
}

.form-group.error input {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.208);
}

.form-group .error {
    color: red;
    font-size: 16px;
    height: 13px;
}

a{
    color: darkblue;
}